<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyLove</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_main.css') }}">
  <script src="https://kit.fontawesome.com/c414d432b1.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="rectangle-left">
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
    <hr id="line" size=3>
    <a class="link" id="lnk1" href="http://127.0.0.1:5000/photoalbum">Фотоальбом</a>
    <a class="link" id="lnk2" href="http://127.0.0.1:5000/survey">Опросы</a>
      <a class="link" id="lnk3" href="http://127.0.0.1:5000/arts">Арты</a>

<div class="contacts">
    <a id="telegram" href="https://t.me/No_na_me_sorry">
      <i class="fa-brands fa-telegram fa-2xl"></i>
    </a>

    <a id="vk" href="https://vk.com/dadaya_xx">
      <i class="fa-brands fa-vk fa-2xl"></i>
    </a>
</div>



  </div>

<div class="ksusha">
      <h1 id="ks_h_text">Главный создатель</h1>
      <img id="ks_photo" src="{{ url_for('static', filename='main_photo.jpg') }}">
</div>
  <div class="hearth-text">
    <p>Именно эта девочка разожгла во мне огонь и дала искру для создания моего творчества.</p>
    <p>Я очень благодарен ей и готов создать для нее целый мир, который будет играть новыми красками.</p>
    <p>Она стала для меня больше чем любимый человек. Думаю это частица меня.</p>
  </div>
  <div class="quote">
    <h3>I'm a person. And I have to love someone.</h3>
  </div>
</body>
</html>
