<html>
<head>
<title>Фотоальбом</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_album.css') }}">
    <script src="https://kit.fontawesome.com/c414d432b1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="rectangle">

        <h1 class="header">Галерея</h1>


        <img class="image" id="image1" src="{{ url_for('static', filename='1.jpg') }}">
        <img class="image" id="image2" src="{{ url_for('static', filename='2.jpg') }}">
         <img class="image" id="image3" src="{{ url_for('static', filename='3.jpg') }}">
        <img class="image" id="image4" src="{{ url_for('static', filename='4.jpg') }}">
         <img class="image" id="image5" src="{{ url_for('static', filename='5.jpg') }}">
         <img class="image" id="image6" src="{{ url_for('static', filename='6.jpg') }}">
         <img class="image" id="image7" src="{{ url_for('static', filename='7.jpg') }}">
         <img class="image" id="image8" src="{{ url_for('static', filename='8.jpg') }}">
         <img class="image" id="image9" src="{{ url_for('static', filename='9.jpg') }}">
         <img class="image" id="image10" src="{{ url_for('static', filename='10.jpg') }}">
        <img class="image" id="image11" src="{{ url_for('static', filename='11.jpg') }}">
        <img class="image" id="image12" src="{{ url_for('static', filename='12.jpg') }}">


    </div>

    <a id="Home" href="http://127.0.0.1:5000">Главная</a>

</body>
</html>